{{template "base" .}}

{{define "title"}}Game | {{.Game.Title}}{{end}}

{{define "body"}}

    <h2>{{.Game.Title}}</h2>
    <div class="game-card">
        <div>
            <img src="{{.Game.ImageLink}}" alt="Game Photo">
            <div id="meta">
                {{if .Ownership}}
                <a href="/ownership/remove/{{.Ownership.ID}}" style="display: flex; justify-content: center;">
                    <input type="submit" value="Remove from Library">
                </a>
                {{else}}
                <a href="/ownership/add/{{.Game.ID}}" style="display: flex; justify-content: center;">
                    <input type="submit" value="Add to Library">
                </a>
                {{end}}
            </div>
        </div>
        <div>
            <p>
                {{.Game.Description}}
            </p>
        </div>
    </div>

    <h2 style="text-align: center">Players: {{len .Users}}</h2>
    {{if .Users}}
        <table>
            <tr>
                <th style="text-align: center">Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>ID</th>
            </tr>
            {{range .Users}}
                <tr>
                    <td class="td-poster">
                        <img src="{{.ImageLink}}" alt="Visual">
                    </td>
                    <td><a href='/game/{{.ID}}' style="color: #FEC260">{{.Name}}</a></td>
                    <td>{{.Email}}</td>
                    <td>#{{.ID}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}