{{template "base" .}}

{{define "title"}}Profile Page{{end}}

{{define "body"}}
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class="profile-card" method="post" action="/user/update">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div class="profile-image">
        <img src="{{.User.ImageLink}}" alt="Profile Image">
        {{if ne .User.ID .AuthenticatedUser.ID}}
            <a href="">
                <input type="button" value="Chat">
            </a>
            <a href="/review/add/{{.User.ID}}">
                <input type="button" value="Write Review">
            </a>
        {{end}}
        <a href="/review/show/{{.User.ID}}">
            <input type="button" value="Read Reviews">
        </a>
    </div>
    <div class="bio">
        <div>
            <div>Name:</div>
            <div>{{.User.Name}}</div>
        </div>
        <div>
            <div>Email:</div>
            <div>{{.User.Email}}</div>
        </div>
        <div>Bio:</div>
        <textarea name="bio" maxlength="1500"
        {{if ne .AuthenticatedUser.ID .User.ID}}
                readonly
        {{end}}
        >{{if .User.Bio}}{{.User.Bio}}{{end}}</textarea>
        {{if eq .AuthenticatedUser.ID .User.ID}}
            <div style="display: flex; justify-content: center">
                <input type="submit" value="Save">
            </div>
        {{end}}

    </div>
</form>

<div class="list-games">
    <h2 style="text-align: center">Games</h2>
    {{if .Games}}
        <table>
            <tr>
                <th style="text-align: center">Poster</th>
                <th>Title</th>
                <th>ID</th>
            </tr>
            {{range .Games}}
                <tr>
                    <td class="td-poster">
                        <img src="{{.ImageLink}}" alt="Visual">
                    </td>
                    <td><a href='/game/{{.ID}}' style="color: #FEC260">{{.Title}}</a></td>
                    <td>#{{.ID}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
</div>    


    <!--<div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Reuni%C3%A3o_com_o_ator_norte-americano_Keanu_Reeves_%2846806576944%29_%28cropped%29.jpg/1200px-Reuni%C3%A3o_com_o_ator_norte-americano_Keanu_Reeves_%2846806576944%29_%28cropped%29.jpg" alt="John" style="width:100%">
        <h1>Beknur Raissov</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>-->
{{end}}


